* {
  margin: 0;
}

header {
  height: 100px;
  background-color: #4EA0FF;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: 25%;
}

.container {
  width: 80%;
  margin: auto;
}

header img {
  height: 50px;
  margin-top: 40px;
}

main {
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-size: 38px;
  line-height: 40px;
}

.author {
  color: #808080;
  font-size: 16px;
}

.author-name {
  color: #20A9E5;
}

.date {
  color: #808080;
  font-size: 12px;
}

.photo, .content {
  margin-top: 20px;
}

.tim-img {
  height: 250px;
}

.caption {
  font-size: 12px;
}

.highlight {
  background-color: #FFFF00;
}

.content ul {
  margin-top: 10px;
  margin-left: -22px;
  margin-bottom: 20px;
}

.content table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.content table thead .text {
  width: 50%; 
}

.content table, th, td {
  border-collapse: collapse;
  border: 0px;
}

.content table thead {
  background-color: #20A9E5;
  color: #FFFFFF;
}

.content table tbody {
  background-color: #B1E5F2;
}

.content table tbody .even {
  background-color: #FFFFFF;;
}

footer {
  margin-top: 20px;
}

footer h4 {
  color: #808080;
}

footer div {
  margin-bottom: 190px;
}

footer .image {
  width: 230px;
  height: 160px;
  margin: 10px 0;
  background-size: cover;
}

#monitor {
  background-image: url(../img/monitor.jpg);
}

#graph {
  background-image: url(../img/graph.jpg);
}

footer h3 {
  color: #FFFFFF;
  line-height: 30px;
  margin: 10px 10px;
}
